/*----Animations----*/

@keyframes boing {
	0% {
			transform: scale(1.2);
	}
	40% {
			transform: scale(.6);
	}
	60% {
			transform: scale(1.2);
	}
	80% {
			transform: scale(.8);
	}
	100% {
			transform: scale(1);
	}
}

/*----General-style----*/

*{
	margin: 0px;
	padding: 0px;
}

html {
	overflow-x: hidden;
}

body {
	height: 100vh;
	width: 100vw;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

/*----Header----*/

.header{
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: auto;
	box-sizing: border-box;	

	height: 12vh;
	padding: 20px 50px;
	background-color: #d46b15;
	color: white;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.list-guide {
	display: flex;
	justify-content: center;

	list-style: none;
}

.cart:hover {
	transform: scale(1.05);
	text-shadow: -1px 1px 2px #5e330bee;
}

.total-text p{
	display: inline;

	cursor: pointer;
}

.total-text {
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: 0;
}

.navigation-menu {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin-right: 10px;
}

.navitation-item {
	padding: 8px 6px 3px 6px;
	margin: 0px 20px;
}

.navitation-item > a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 600;
}

.navitation-item:hover {
	transform: scale(1.05);
	text-shadow: -1px 1px 2px #8a480aee;
	box-shadow: 0px 3px 0px #fdfdfdfd;
}

/*----Cart-items----*/

.cart-items {
	position: absolute;
	right: 15px;
	top: 4%;
	z-index: 999;

	margin-top: 50px;
	padding: 50px 40px;
	border: 3px solid #d46b15;
	background-color: white;
	color: #d46b15;
}

.remove {
	width: 14px;
	padding: 2px;
	margin: 0px 5px;
	background-color: transparent;
	border-radius: 3px;
	text-align: center;
	color: #d46b15;
}

.list-item li {
	margin: 10px 0px;
}


/*----Main----*/

main {
	width: 100vw;
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
}

/*----Slider----*/

.slider, 
.slider > div {
	position: relative;
	display: block;
	overflow: hidden;

	width: 100%;
	height: 88vh;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;

	-moz-transition: transform .4s;
	-o-transition: transform .4s;
	-webkit-transition: transform .4s;
	transition: transform .4s;
}

.slider > div {
    position: absolute;
}

.slider > i {
	position: absolute;
	top: 40%;
	box-sizing: content-box;
	z-index: 4;

	width: 30px;
	padding: 10px 13px;
	margin: 20px;
	border-radius: 3px;
	text-shadow: 0 10px 2px #223422;
	transition: .3s;
	background: #fff;
	background: rgba(255, 255, 255, .3);
	line-height: 0;
	font-size: 60px;
	cursor: pointer;
}

.slider > i svg {
  margin-top: 3px;
}

.slider > .left {
  left: -100px;
}

.slider > .right {
  right: -100px;
}

.slider:hover > .left {
  left: 0;
}

.slider:hover > .right {
  right: 0;
}

.slider > i:hover {
	background: rgba(255, 255, 255, .8);

	transform: translateX(-2px);
}

.slider > i.right:hover {
  transform: translateX(2px);
}

.slider > i.right:active,
.slider > i.left:active {
  transform: translateY(1px);
}

.slider:hover > div {
  transform: scale(1.01);
}

.hoverZoomOff:hover > div {
  transform: scale(1);
}

.slider > ul {
	position: absolute;
	bottom: 10px;
	left: 50%;
	display: flex;
	z-index: 4;

	padding: 0;
	margin: 0;

	transform: translateX(-50%);
}

.slider > ul > li {
	width: 20px;
	height: 20px;
	margin: 10px 10px 10px;
	padding: 0;
	border-radius: 50%;
	list-style: none;
	box-shadow: 2px 4px 7px #000308ce;
	border: 2px solid #d46b15;
	cursor: pointer;

	-moz-transition: .3s;
	-o-transition: .3s;
	-webkit-transition: .3s;
	transition: .3s;
}

.slider > ul > .showli {
	background-color: #d46b15;
	-moz-animation: boing .5s forwards;
	-o-animation: boing .5s forwards;
	-webkit-animation: boing .5s forwards;
	animation: boing .5s forwards;
}

.slider > ul > li:hover {
	background-color: #d46b15;
}

.slider > .show {
  z-index: 1;
}

.hideDots > ul {
  display: none;
}

.showArrows > .left {
  left: 0;
}

.showArrows > .right {
  right: 0;
}

.titleBar {
	display: inline-block;
	position: absolute;
	bottom: 0;
	z-index: 2;
	
	width: 98vw;
	padding: 60px 10px;
	padding-top: 30px;
	background: rgba(0,0,0,.5);
	color: #fff;

	transform: translateY(100%);
	transition: .3s;
}

.titleBar * {
	opacity: 0;

	transform: translate(-20px, 30px);
	transition: all 700ms cubic-bezier(0.37, 0.31, 0.2, 0.85) 200ms;
}

.titleBarTop .titleBar * {
  transform: translate(-20px, -30px);
}

.slider:hover .titleBar,
.slider:hover .titleBar * {
	opacity: 1;

	transform: translate(0);
}

.titleBarTop .titleBar {
	top: 0;
	bottom: initial;

	transform: translateY(-100%);
}

.slider > div span {
	display: block;
	position: absolute;
	bottom: 0;

	width: 100%;
	padding: 0;
	background: rgba(0,0,0,.5);
	color: #fff;
	text-align: center;
}

/*----Services----*/

.header-services {
	height: 11vh;
	padding-top: 25px;
	padding-bottom: 20px;
	background-color: #d46b14;
  color: white;
}

.services {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	width: fit-content;
	min-width: 300px;
	margin: auto;
	margin-top: 15px;
}

.service {
	display: flex;
	flex-direction: row;
}

.fa-check {
	color: white;
	margin-right: 8px;
}

.steps ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	padding: 75px 40px;
	padding-left: 60px;
}

.steps ul li{
  width: 273px;
	padding-top: 140px;
	margin-right: 20px;
	margin-top: 30px;
  text-align: center;
}

.steps h4 {
	margin-bottom: 20px;
  text-transform: uppercase;
}

.steps p{
  margin-bottom: 20px;
}

.step-1 {
  background: url('../images/plan.png') no-repeat top center;
}

.step-2 {
  background: url('../images/org.png') no-repeat top center;
}

.step-3 {
  background: url('../images/trav.png') no-repeat top center;
}

/*---Items---*/

.items-container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;

	height: 100%;	
	width: 95vw;
  margin: auto;
	padding: 20px;
	padding-left: 10px;
}

.item{
	position: relative;

	width: 350px;
	height: fit-content;
	margin-top: 25px;
	background-color: rgb(214, 210, 210);
	border: none;
	box-shadow: 4px -3px 6px #808080;
	text-align: left;
}

img {
	width: 100%;
	height: 300px;
}

.fa {
  cursor: pointer;
}

.item-detail h4 {
	position: absolute;
	top: 119px;

	width: 93%;
	margin-left: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 39px;
	text-transform: uppercase;
	color: white; 
	text-shadow: -1px 1px 4px #010713; 
}

.item-detail p {
	margin: auto;
	color: #333333;
	font-weight: bold;
}

.prices {
	position: absolute;
	top: 168px;

	width: 93%;
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	color: white;
	text-shadow: -1px 1px 4px #010713; 
}

.prices p {
	display: inline;

	color: white;
}

.item-price {
  margin: 10px 8px;
}

.item-box p {
	width: 250px;
  margin: auto;
	color: #6f6f6e;
}

.more-info {
	display: none;
	position: absolute;
	top: 208px;

	margin: auto;
	padding: 10px;
	background-color: rgb(214, 210, 210);
}

.show-details:hover{
	font-size: 31px;
	text-shadow: 2px 1px 4px #000308;
}

.info-link {
	margin: 0px 10px 10px;
	text-decoration: none;
	color: #d46b15;
}

.show-details {
	position: absolute;
	top: 266px;
	right: -18px;
	z-index: 2;

	width: 100%;
	margin-top: 10px;
	font-size: 30px;
	text-align: right;
	color: #d46b15;
	text-shadow: 1px 1px 4px #010713;
}


button {
	padding: 5px;
	margin: 10px 10px 10px 63.5%;
	border: none;
	background-color: #d46b15;
	font-weight: bold;
  color: white;
	cursor: pointer;
}

button:hover {
	text-shadow: -1px 1px 2px #5e330bee;
	transform: scale(1.1);
}

.firstButton:hover, .secondButton:hover {
	margin-left: 63%;
	box-shadow: 2px 4px 7px #000308ce;
	text-shadow: none;
	transform: scale(1.05);
}

.firstButton, .secondButton {
	position: absolute;
	top: 0;
	left: 18px;
	box-shadow: 2px 4px 7px #0003089e;
}

/*----contact----*/

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;

	padding: 15px 0;
	color: white;
}

fieldset {
	display: flex;
	align-items: center;
	justify-content: center;

	padding-left: 8px;
	margin-top: 10px;
	border: none;
}

.fullName {
	display: flex;

	width: fit-content;
}

input {
	width: 600px;
	height: 20px;
	padding: 10px;
	margin: auto;
	border-radius: 10px;
	border: 2px solid #d46b15;
}

.firstName, .lastName {
	width: 285px;
}

.contact-header {
	padding: 25px 40px 20px;
	background-color: #d46b15;
	text-align: left;
	font-size: 30px;
	color: white;
}

.contactSub {
	margin-top: 10px;
	font-size: 20px;
}

form {
	width: fit-content;
	margin-top: 28px;
	padding-left: 40px;
}

.textArea {
	width:600px;
	height: 171px;
	padding: 15px 10px;
	margin-left: 1px;
	border-radius: 10px;
	border: 2px solid #d46b15;
}

.submitButton {
	display: flex;
	justify-content: right;

	width: 600px;
	margin-top: 0px;
}

.submitButton > button {
	margin: 10px 0 0 559px;
	padding: 10px;
	background-color: #d46b15;
	border: 2px solid #d46b15;
	border-radius: 10px;
	font-weight: 600;
	color: white;
}

.submitButton > button:hover {
	text-shadow: none;
	transform: scale(1.05)
}

.contact-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	padding: 40px;
	padding-top: 0;
	padding-bottom: 40px;
}

.map {
	width: 500px;
	margin-top: 40px;
	height: 200px;
}

.contact-details {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	height: 180px;
	margin-top: 30px;
	margin-right: 50px;
	font-weight: 520;
	color: rgb(56, 56, 56);
}

.socialLink {
	width: fit-content;
	text-decoration: none;
	color: rgb(56, 56, 56);
}

.contactIcon {
	margin-right: 9px;
	color: #d46b15;
}

.socialLink:hover > .contactIcon {
	transform: scale(1.2);
}

.socialLink:hover {
	text-shadow: 1px 2px 1px rgba(128, 128, 128, 0.26);
}


/*----MEDIA-QUERYS----*/

@media (max-width: 680px) {

	.header {
		height: 18vh;
		flex-direction: column;
		padding: 10px 0 10px;
	}

	.navigation-menu {
		margin-right: 0;
	}

	.navitation-item {
		margin-right: 8px;
		margin-left: 0;
		font-size: 14px;
	}

	.navitation-item:hover {
		box-shadow: none;
	}
	
	.heading {
		padding-bottom: 10px;
	}

	.menu {
		width: 100vw;
		background-color: #d46b15;
		padding-bottom: 8px;
    padding-top: 0px;
	}

	/*----Shopping-cart----*/

	.cart {
		display: flex;
	}

	.cart-items {
		top: 8vh;
		right: 0;
	}

	.total-text-items, .fa-caret-down{
		font-size: 0;
	}

	/*----Items----*/

	.item-detail h4 {
		font-size: 32px;
	}

  .item {
    width: 250px;
	}

	.more-info {
		font-size: 14.2px;
	}

	.items-basket {
		font-size: 1;
	}

	.fa-shopping-basket {
		font-size: 20px;
	}

	.firstButton, .secondButton {
		left: -17px;
	}

	.show-details {
		right: -15px;
		top: 270px;
	}

	.prices {
		width: 92%;
	}

	/*----Slider----*/

	.slider {
		height: 82vh;
	}

	.slider > div {
		height: 82vh;
	}

	/*----Services----*/

	.steps ul {
		padding: 25px 40px;
	}

	.header-services {
		height: 87px;
	}

	/*----Contact----*/

	#contact {
		padding: 0;
	}

	fieldset {
		width: 100vw;
		padding-left: 0;
	}

	.fullName {
		flex-direction: column;
	}

	input {
		width: 80%;
		height: 20px;
		padding: 10px;
		margin: auto;
		border: 2px solid orange;
		border-radius: 10px;
	}

	.firstName, .lastName {
		width: 80%;
	}

	.textArea {
		width: 80%;
		height: 171px;
		padding: 15px 10px;
		margin: auto;
		border: 2px solid orange;
		border-radius: 10px;
	}

	.contact {
		margin-top: 10px;
	}

	.submitButton {
		width: 100vw;
	}

	.submitButton > button {
		width: 30vw;
		margin-left: 0;
		margin: 15px auto 0;
	}

	.map {
		width: 300px;
		margin-top: 40px;
		height: 220px;
		margin-right: 50px;
	}
	
	.contact-details {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		height: 170px;
		width: 80%;
		margin: 30px auto 0;
	}

	.contact-info {
		justify-content: center;
		align-items: center;

		width: 100vw;
		margin: 20px 0 0;
		padding: 20px 0;
		border-top: 2px solid #80808094;
	}
	
	.map {
		margin: auto;
		width: 80%;
	}
}

