*{
	margin: 0px;
	padding: 0px;
}
html {
	overflow-x: hidden;
}
body {
	height: 100vh;
	width: 100vw;
	/* background-image: url(../images/nubes.jpg); */
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}

main {
	padding-top: 20px;
	/* background-image: linear-gradient(90deg, rgba(166, 216, 211, 0.62) 0%, rgba(151, 173, 148, 0.64) 35%, rgba(222, 220, 191, 0.48) 100%);
	height: 100%; */
}
img{
	width: 100%;
	height: 300px;
	/* margin-bottom: 10px; */
}

.fa{
  cursor: pointer;
}

.header{
	width: 100vw;
	overflow: auto;
	background-color: #c63666;
	background-color: #377786;
	background-color:#5841a0;
	background-color: #d46f10;
	color: white;
	clear: both;
	padding: 20px 50px;
	box-sizing: border-box;	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.heading{
	/* float: left; */
}

.cart{
	/* float: right; */
	text-align: center;
}

.cart:hover {
	transform: scale(1.05);
	text-shadow: -1px 1px 2px #5e330bee;
}

.total-text p{
	display: inline;
	cursor: pointer;
}


#cart-items{
	position: absolute;
	right: 20px;
	top: 10%;
	background-color: #c63666;
	background-color: #d46f10;
	color: white;
	margin-top: 50px;
	padding: 50px 40px;
	z-index: 999;
}

main {
	width: 100vw;
}

.items-container {
	height: 100%;	
	width: 95vw;
  margin: auto;
	padding: 20px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
}

.item{
	position: relative;
	/* float: left; */
	margin: 1%;
	/* border: 1px solid #33333346; */
	width: 350px;
	height: fit-content;
	text-align: center;
	text-align: left;
	background-color: #56297d;
	background-color: #d46f10;
	background-color: rgb(97, 87, 87);
	background-color: rgb(214, 210, 210);
	border: none;
	/* border: 1px solid #808080; */
}


.item-detail h4{
	color: #56297d;
	margin-left: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	position: absolute;
	top: 120px;
	color: white; 
	text-shadow: -1px 1px 4px #010713; 
}

.item-detail p{
	color: #333333;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin: auto;
}

.prices {
	text-align: right;
	padding-right: 10px;
	padding-left: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	top: 156px;
	width: 93%;
	color: white;
	text-shadow: -1px 1px 4px #010713; 
}

.prices p{
	display: inline;
	color: #c63666;
	color: white;
	
}

.remove {
	background-color: transparent;
	color: white;
	border-radius: 3px;
	margin: 0px 5px;
	text-align: center;
	width: 14px;
	padding: 2px;
}

#list-item li {
	margin: 10px 0px;
}

/*------*/
.item-title {
  margin: 10px 0px
}

.item-box p {
	color: #6f6f6e;
	width: 250px;
  margin: auto;
}

.item-price {
  margin: 10px 8px;
}

.more-info {
	display: none;
	margin: auto;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.show-details:hover{
	font-size: 31px;
	text-shadow: 2px 1px 4px #000308;
}

.info-link {
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	color: white;
	color: rgb(212, 111, 16);
}
.show-details {
	font-display: flex;
	justify-content: center;
	width: 100%;
	flex-direction: column;
	margin-top: 10px;
	align-items: center;
	text-align: right;
	position: absolute;
	top: 266px;
	right: -18px;
	color: rgb(212, 111, 16);
	font-size: 30px;
	text-shadow: 1px 1px 4px #010713;
}


button {
	background-color: #e17bba;
	background-color: #d46f10;
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 63.5%;
	margin-right: 10px;
}

button:hover {
	transform: scale(1.1);
	text-shadow: -1px 1px 2px #5e330bee;
}

.secondButton:hover {
	transform: scale(1.05);
	box-shadow: 2px 4px 7px #000308ce;
	margin-left: 63%;
	text-shadow: none;
}

.firstButton:hover {
	transform: scale(1.05);
	box-shadow: 2px 4px 7px #000308ce;
	margin-left: 63%;
	text-shadow: none;
}

.secondButton {
	margin-left: 63.3%;
	position: absolute;
	top: 0;
	left: 18px;
	box-shadow: 2px 4px 7px #0003089e;
}


.firstButton {
	position: absolute;
	top: 0;
	left: 18px;
	box-shadow: 2px 4px 7px #0003089e;
}